.caropage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    background: RGB(247, 242, 242);
}
.caro{
    width: 100vw;
    height: auto;
}
.caroitem{
   width: 100vw;
   height: 35vw;

  }
  
  
  .caroimg {
      position: absolute;
      object-fit:stretch;
      top: 0;
      left: 0;
      min-height: 500px;

  }
  /* Text Front Page */
  .about{
    background-color: #b4b8bf;
      font-family: 'Open Sans', sans-serif;
      padding: 2% 10% 2% 10%;
      color:black;
      width: 100%;
      text-align: center;
  }
  .about h1 {
    font-family: 'Raleway', sans-serif;
  }
 
  .details{
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 2% 10%;
    background: #b4b8bf;
    color: black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.details h3 {
  font-family: 'Raleway', sans-serif;
}
.carotxt{
    background-size:cover;
    background: 
    /* top, transparent red */ 
    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    /* bottom, image */
    url('https://horizon-media.s3-eu-west-1.amazonaws.com/s3fs-public/field/image/clouds-mf.jpg');

}
.carotxt, #header, #about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  color:white;
}
#header{
    font-family: 'Chakra Petch', sans-serif;
}
 #about{
     width: 35%;
     font-family: 'Open Sans', sans-serif;
 }