.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}
.navbar ul li{
  list-style-type: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.logo{
  height: 15vh;
  width:auto;
  margin-left:-200px;
  padding:0;
  text-align: left;
}