.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li{
  list-style-type: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
.navbar ul li:hover{
  list-style-type: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}
.navbar{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
  padding-bottom: 0%;


}

.logo{
  height: 15vh;
  width:auto;
  margin-left: -100px;
  padding:0;
  text-align: left;
}
/* body */
.airplane{
height: 25%;
width:100%
}