

.navbar2 ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}
.navbar2 li{
  padding-right: 10%;
}
.navbar2 ul li a{

  list-style-type: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: black
}
.navbar2 ul li a:hover{
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
 
}
.navbar2{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
  padding-bottom: 0%;


}

.logo{
  height: 15vh;
  width:auto;
  margin-left: -100px;
  padding:0;
  text-align: left;
}

.navbar ul li{
  position: relative;
}
.navbar ul li a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;

}
.navbar ul li a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}
/* footer */
.footer{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  /* margin-top: 3%; */
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
/* Modal */
.modal{ 
  z-index: 999;
  width: 40%;
  height: auto;

}
.login {
position: absolute;
  width: 40%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
z-index: 1001;
}
  .login h1 {
    margin: 0 auto 46px;
    padding: 0 0 14px;
    text-align: center;
    font-size: 22px;
    width: 60%;
    border-bottom: 3px solid #FFF;
  }
  .form{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    align-items: center;
    font-family: 'Raleway', sans-serif;
  }
  .form p {
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
  .form  input {
      width: 100%;
      margin-bottom: 20px;
      
    }
    .form input::placeholder{
      color:white
    }
    .form input[type="text"],
   .form input[type="placeholder"] {
     
      color: #fff;
    }
    .form input[type="text"],
   .form input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
    }
  .submit {
    font-family: 'Raleway', sans-serif;
      border: none;
      outline: none;
      height: 5vh;
      background: #1c8adb;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
      margin-top: 3%;
  }
  .submit:hover{
    background: green;
    cursor: pointer;

  }
      .x{
       float:right;
      }
      .x:hover{
        color: black;
        cursor: pointer;
      }
    /* Hamburger menu */
    .hamburger{
     display: none;
    }
    .hamburgerMenu{
      display:none;
    }
    
      /* For Iphone */
@media (max-width: 500px){
  
  .hamburger{
    display: block;
    margin:2%;
  }

  .hamburgerMenu {
    display: inline;
    width: 25vw;
    height: 150vh;
    padding-top: 3%;
    margin-top:0;
    background-color:rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    right: 0px;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    overflow: scroll;
    z-index: 999;
    transform: translate3d(100vh, 0, 0);
  }
  .hamburgerMenu li {
    list-style-type: none;
    padding: 20px;
    color:  white;
    list-style-type: none;
  }

  #clickedmenu {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
  .navbar2 li{
    display:none;
  }
  .modal{
width: 50vw;
height: auto;
    z-index: 1000;
  }
  .login{
    width: 80%;
    
  }
}